.report-ml{
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 50px 20px;
    padding:0;
    gap: 10px;
}


.area-two{
    height: 100px;
    width: auto;

    margin: 10px 10px;
    padding: 10px;
    border-radius: 20px;
    
    background-color: hsla(216, 67%, 28%, 0.3);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
   
}


.gau{
    display: flex;
    justify-content: center;
    align-items: center;
}


.hidden{
    display: none;
}




@media only screen and (max-width: 900px){
    .report-ml{
    
        display: grid;
        grid-template-columns: 1fr;
        margin: 50px 20px;
        padding:0;
        gap: 10px;
    }
    
}